[submodule "tools/dev-contracts-types"]
	path = tools/dev-contracts-types
	url = git@github.com:bdelanghe/schema-bridge.git
[submodule "tools/dev-contracts-spec"]
	path = tools/dev-contracts-spec
	url = https://github.com/bdelanghe/dev-contracts-spec.git
[submodule "tools/dev-contracts-validate"]
	path = tools/dev-contracts-validate
	url = git@github.com:bdelanghe/dev-contracts-validate.git
[submodule "tools/dev-contracts-transform"]
	path = tools/dev-contracts-transform
	url = git@github.com:bdelanghe/dev-contracts-transform.git
[submodule "tools/dev-contracts-extract"]
	path = tools/dev-contracts-extract
	url = git@github.com:bdelanghe/dev-contracts-extract.git
